DATABASE_URL="file:./dev.db"

# JWT Secret Keys
JWT_ACCESS_SECRET="enterprise-super-secret-access-key"
JWT_REFRESH_SECRET="enterprise-super-secret-refresh-key"

# JWT Expiration Time
JWT_ACCESS_EXPIRATION="15m"
JWT_REFRESH_EXPIRATION="7d"

# App Port
PORT=3000
