DATABASE_URL="postgresql://postgres:postgres@localhost:5432/task_bounty?schema=public"

# Fiat Bridge Config
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=task_bounty
RPC_URL=https://rpc.ankr.com/eth_sepolia
CHAIN_ID=11155111
CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000
ADMIN_PRIVATE_KEY=0000000000000000000000000000000000000000000000000000000000000000
HMAC_SECRET=my-super-secret-hmac-key

# JWT Secret Keys
JWT_ACCESS_SECRET="enterprise-super-secret-access-key"
JWT_REFRESH_SECRET="enterprise-super-secret-refresh-key"

# JWT Expiration Time
JWT_ACCESS_EXPIRATION="15m"
JWT_REFRESH_EXPIRATION="7d"

# App Port
PORT=3000
